.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  & > h4 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  & > buttom {
    width: 150px;
  };
}

.user {
  display: flex;
  width: 10rem;
  height: 1rem;
  justify-content: space-between;
}
